{% extends 'base_admin.html.twig' %}

{% block title %}Administration|News{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                        <h6 class="text-white text-capitalize ps-3">
                            <a href="{{ path('admin_news_new') }}">
                                <i class="material-icons opacity-6 me-2 text-md">add</i>
                            </a>
                            News
                        </h6>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Title</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Description</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Url</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Active</th>
                                <th class="text-secondary opacity-7"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for news in news %}
                                <tr>
                                    <td>
                                        <a href="{{ path('admin_news_show', {'id': news.id}) }}">
                                            <p class="text-xs font-weight-bold mb-0">{{ news.title }}</p>
                                        </a>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">{{ news.description }}</p>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">{{ news.url }}</p>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        {% if (news.active == 1) %}
                                            <span class="badge badge-sm bg-gradient-success">Online</span>
                                        {% else %}
                                            <span class="badge badge-sm bg-gradient-danger">Offline</span>
                                        {% endif %}
                                    </td>
                                    <td class="align-middle">
                                        <a href="{{ path('admin_news_edit', {'id': news.id}) }}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                            Edit
                                        </a>
                                        {{ include('admin/news/_delete_form.html.twig') }}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="5">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
