{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n3">
    <section>
        <div class="container py-6">
            <div class="row">
                <div class="col-lg-7 mx-auto d-flex justify-content-center flex-column">
                    <h3 class="text-center">Contact us</h3>
                    <form role="form" id="contact-form" method="post" autocomplete="off">
                        {{ form_start(form) }}
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-group input-group-dynamic mb-4">
                                        <label class="form-label">First Name</label>
                                        {{ form_widget(form.firstName) }}
                                    </div>
                                </div>
                                <div class="col-md-6 ps-2">
                                    <div class="input-group input-group-dynamic">
                                        <label class="form-label">Last Name</label>
                                        {{ form_widget(form.lastName) }}
                                    </div>
                                </div>
                            </div>
                            <div class="mb-4">
                                <div class="input-group input-group-dynamic">
                                    <label class="form-label">Email Address</label>
                                    {{ form_widget(form.email) }}
                                </div>
                            </div>
                            <div class="input-group mb-4 input-group-static">
                                <label>Your message</label>
                                {{ form_widget(form.message) }}
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn bg-gradient-dark w-100">Send Message</button>
                                </div>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
