{% extends 'base.html.twig' %}

{% block title %}Setting{% endblock %}

{% block body %}
    <h1>Setting</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ setting.id }}</td>
            </tr>
            <tr>
                <th>Sidebar</th>
                <td>{{ setting.sidebar }}</td>
            </tr>
            <tr>
                <th>Sidenav</th>
                <td>{{ setting.sidenav }}</td>
            </tr>
            <tr>
                <th>Navbar</th>
                <td>{{ setting.navbar }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_setting_index') }}">back to list</a>

    <a href="{{ path('app_setting_edit', {'id': setting.id}) }}">edit</a>

    {{ include('setting/_delete_form.html.twig') }}
{% endblock %}
