{% extends '../../../base.html.twig' %}

{% block title %}Projects index{% endblock %}

{% block body %}
    <h1>Projects index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.title }}</td>
                <td>{{ project.description }}</td>
                <td>{{ project.image }}</td>
                <td>
                    <a href="{{ path('app_projects_show', {'id': project.id}) }}">show</a>
                    <a href="{{ path('app_projects_edit', {'id': project.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_projects_new') }}">Create new</a>
{% endblock %}
